################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NAHRO
/NAHRO.Domain/obj/Debug
/NAHRO.WEB/obj/Debug
/NAHRO.DomainServices/obj/Debug
